:root {
  --primary-color: #1b1e24;
  --secondary-color: #4A5568;
  --font-color: #1b1e24;
  --bg-color: #fff;
  --bg-color-secondary: #F7FAFC;
  --heading-color: #1b1e24;
  --menu-top: 0;
  --menu-height: 24rem;
}

[data-theme="dark-mode"] {
  --primary-color: #fff;
  --secondary-color: #E2E8F0;
  --font-color: #b3b9c5;
  --bg-color: #1b1e24;
  --bg-color-secondary: rgb(51, 55, 63);
  --heading-color: #fff;
}


/* @import url("https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap"); */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display&display=swap');

body {
  background-color: var(--bg-color);
  transition: background 2.5s ease;
  font-family: 'Crimson Text', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}

.fill-current{
  color: var(--font-color);
  transition: color 2.5s ease;
}

.logo__text {
  color: var(--heading-color);
  transition: color 2.5s ease;
}

.byline,
.date {
  color: var(--secondary-color);
  transition: color 2.5s ease;
}

.card {
  background: var(--bg-color);
  color: var(--font-color);
  transition: all 2.5s ease;
}

.card h1 {
  color: var(--heading-color);
  transition: color 2.5s ease;
}

.card p {
  color: var(--font-color);
  transition: color 2.5s ease;
}

.nav {
  background: var(--bg-color);
  transition: all 2.5s ease;
}

.nav a {
  color: var(--heading-color);
  transition: color 2.5s ease;
}

button.dark-switcher {
  padding: 1rem;
  margin: 0;
  font-size: 1.4rem;
}

button.dark-switcher {
  -webkit-appearance: none;
  border: 0;
  padding: 1rem 0.3rem;
  margin: 0;
  background: transparent;
}

.favicon {
  height: 25px;
  width: 25px;
  margin-bottom: 0;
  margin-right: 1rem;
}
.theme-icon {
  height: 18px;
  width: 18px;
  margin-bottom: 0;
}

.dropdown_select{
  background: var(--bg-color-primary);
  color: var(--font-color);
  border-color: var(--font-color);
  transition: all 2.5s ease;
}

.moon,
.sun {
  width: 25px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.sun:hover {
  animation: sun_rotate 1s infinite;
}
.moon:hover {
  transform: scale(1.1);
}

/* Animations */

@keyframes sun_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.dark-mode-toggle button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.dark-mode-toggle button:hover,
.dark-mode-toggle button:focus,
.dark-mode-toggle button:active {
  background: none;
  border: none;
  outline: none;
}

/* layout for main area */
.articleList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  margin-top: 5rem;
}

/* .category__nav{display:grid; position:fixed;} */

.category__nav button {
  font-family: "Merriweather", serif;
  font-style: italic;
  color: var(--font-color);
  transition: all 2.5s ease;
}

.category__nav button:focus {
  outline: none;
}

.loading__text {
  color: var(--primary-color);
  transition: color 2.5s ease;
}

/**************************************
    Images & iframes
**************************************/
figure {
  cursor: pointer;
  margin: 0 0 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: var(--transition-animation);

}

figure:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}



@media screen and (max-width: 600px) {
  .articleList {
    grid-template-columns: 1fr;
    
  }
  #nav__links{
    position:relative;
    height: 0;
    top: -28rem;
    transition: all 0.5s ease;
  }
  #nav__links.menuOpen{
    height: 22.5rem;
    top: 0;
  }
  #nav__links.menuClosed{ 
    height: 0;
    top: -28rem;
  }


}
